EstateAgency

EstateAgency.zip

*.sqlite3

venv
*.cpython-311.pyc

*/__pycache__/models.cpython-311.pyc

migrations/*0
.env
media
static/
.env
*.env


*__pycache__/
/__pycache__/
EstateAgency.zip

portfoliodatabase.sqlite3

mainsvenv


*.sqlite3


.envx
auotomater.bash
autodeploy.bash
auotomater.bash
githubautomate.bash



portfoliodatabase.sqlite3
.env

auotomater.bash
autodeploy.bash
/*.bash